# Logs
logs
*.log
npm-debug.log*

# System file
.DS_Store

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.dev.varss

# Miniflare
.mf

# Wrangler
.wrangler

# Astro
.astro/

# Output directory
dist/