---
// const { env } = Astro.locals.runtime;

// const cachedAboutContent = await env.ABOUT_CONTENT_CACHE.get('cached-value');
---

<div class="h-full">
  <header class="mb-12">
    <p class="font-mono text-blue-300">02</p>
    <h1 class="text-2xl">About</h1>
  </header>
  <!-- <p class="max-w-[70ch] text-justify">{`${cachedAboutContent}Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, modi non reprehenderit accusantium corrupti vel tenetur a consectetur. Optio illo eaque voluptate, dolor architecto repellat reiciendis ab dolorum recusandae atque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, modi non reprehenderit accusantium corrupti vel tenetur a consectetur. Optio illo eaque voluptate, dolor architecto repellat reiciendis ab dolorum recusandae atque?`}</p> -->
</div>