---
import Button from '../components/Button.astro';
import ShadowLogo from '../assets/shadow-logo.svg';
---
{/* Hero logic */}
<script>
  const exploreProjectsButton = document.querySelector('#explore-projects-button')!;
  const projectsSection = document.querySelector('#projects')!;

  exploreProjectsButton.addEventListener('click', () => {
    projectsSection.scrollIntoView({ behavior: 'smooth' });
  });
</script>

{/* Hero content */}
<div class="h-full grid grid-cols-5 grid-rows-[1fr_auto_1fr] md:h-dvh md:grid-cols-12 md:grid-rows-4">
  <div
    class="col-span-5 row-start-2 md:row-start-2 md:col-span-8 md:row-span-2 md:self-center"
  >
    <p class="font-mono mb-3 ml-1 text-gray-200 animate-typewriter animate-typewriter-duration-700 animate-typewriter-start-[3] animate-typewriter-end-[10] md:animate-typewriter-duration-[2.5s] md:animate-typewriter-start-[21] md:animate-typewriter-end-[34]">
      <span class="md:hidden"><span class="text-blue-300">~# </span>./hello</span>
      <span class="hidden md:inline-block"><span class="text-blue-300">root@kynsonszetau:~# </span>./hello_world</span>
    </p>
    <h1 class="text-3xl font-medium mb-11 sm:text-4xl lg:text-6xl">
      I am Kynson Szetau<br />A self-taught developer
    </h1>
    <Button id="explore-projects-button">
      <span>Explore Projects <span class="font-mono">-></span></span>
    </Button>
  </div>
  <ShadowLogo class="w-full col-start-4 row-start-3 col-span-2 row-span-1 justify-self-end md:col-start-9 md:row-start-2 md:col-span-3 md:row-span-3 md:self-center" />
</div>
