---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'>;

const { class: clazz = '', ...attributes } = Astro.props;
---

{/* Button content */}
<button
  class:list={[
    'py-2 px-4 rounded-lg text-sm font-medium inline-flex items-center transition-[filter,color] focus:outline focus:outline-offset-2 bg-blue-50 text-gray-950 hover:enabled:brightness-95 focus:outline-blue-100 focus:outline-2 disabled:brightness-95 disabled:text-gray-400 disabled:cursor-not-allowed',
    clazz,
  ]}
  {...attributes}
>
  <slot />
</button>
