---
import MainLayout from '../layouts/MainLayout.astro';

import SectionNavigation from '../components/SectionNavigation.astro';
import Section from '../components/Section.astro';
import SectionContentFallback from '../components/SectionContentFallback.astro';

import Hero from '../section-content/Hero.astro';
import About from '../section-content/About.astro';
import Projects from '../section-content/Projects.astro';
import Contact from '../section-content/Contact.astro';

import Logo from '../assets/logo.svg';
import GithubLogo from '../assets/github-logo.svg';

const SECTION_COUNT = 4;
---

<MainLayout>
  <Logo class="w-11" slot="nav" />
  <SectionNavigation section-count={SECTION_COUNT} slot="nav" />
  <a
    href="https://github.com/Kynson"
    class="self-center justify-self-end md:justify-self-auto md:self-end"
    slot="nav"
  >
    <GithubLogo class="size-6" title="Github Logo" />
  </a>
  <Section id="hero" with-header={false} class="mb-12">
    <Hero />
  </Section>
  <Section section-number="02" title="About" class="mb-12 py-5">
    <About server:defer>
      <SectionContentFallback slot="fallback" section="About" />
    </About>
  </Section>
  <Section section-number="03" title="Projects" class="mb-12 py-5">
    <Projects server:defer>
      <SectionContentFallback slot="fallback" section="Projects" />
    </Projects>
  </Section>
  <Section section-number="04" title="Contact" class="py-5">
    <Contact />
  </Section>
</MainLayout>
