---
interface Props {
	class: string;
}

import Head from '../components/Head.astro';

const { class: clazz } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-950 text-blue-50 min-h-dvh">
	<Head />
	<body class="min-h-dvh" class:list={clazz}>
		<slot />
	</body>
</html>
