---
interface Props {
  'html-class'?: string;
  'body-class'?: string;
}

import Head from '../components/Head.astro';

const { 'html-class': htmlClass, 'body-class': bodyClass } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-gray-950 text-blue-50 min-h-dvh"
  class:list={htmlClass}
>
  <Head />
  <body class="min-h-dvh" class:list={bodyClass}>
    <slot />
  </body>
</html>
