---
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout title="404 Not Found" body-class="px-6 h-dvh flex flex-col">
  <header class="flex justify-between items-center py-10">
    <slot name="header" />
  </header>
  <main class="h-full flex flex-col">
    <slot />
  </main>
</BaseLayout>
