---
interface Props {
  section: string;
}

import Spinner from '../assets/spinner.svg';

const { section } = Astro.props;
---

<div class="flex gap-2 items-center" slot="fallback">
  <p class="text-gray-500">Fetching {section}</p>
  <Spinner class="size-4 fill-none animate-spin" />
</div>
