---
import type { ProjectDetails } from 'common';

import { logError } from 'common';

import Button from '../components/Button.astro';
import DynamicContentError from '../components/DynamicContentError.astro';
import DownArrow from '../assets/down-arrow.svg';

const { env } = Astro.locals.runtime;

// Remember to update the DEFAULT_RENDER_COUNT in the placeholder if this is changed
const DEFAULT_RENDER_COUNT = 3;

function fetchProjectsErrorHandler(error: unknown) {
  logError('fetchProjects', error);
}

const projects =
  (await env.DYNAMIC_CONTENT.get<[string, ProjectDetails][]>(
    'projects',
    'json'
  ).catch(fetchProjectsErrorHandler)) ?? [];
---

{/* Projects logic */}
<script>
  const showAllProjectsButton = document.querySelector(
    '#show-all-projects-button'
  );
  const hiddenProjectCards = document.querySelectorAll('.project-card.hidden');

  function showAllProjectsButtonClickHandler() {
    hiddenProjectCards.forEach((card) => {
      card.classList.remove('hidden');
    });

    showAllProjectsButton?.remove();
  }

  showAllProjectsButton?.addEventListener(
    'click',
    showAllProjectsButtonClickHandler
  );
</script>

{/* Projects content */}
<div class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-5 mb-8">
  {
    projects.map(([name, { description, topics }], i) => {
      return (
        <div
          class="project-card rounded-lg border border-gray-700 p-5"
          class:list={{ hidden: i >= DEFAULT_RENDER_COUNT }}
        >
          <a
            class="text-xl mb-3 underline underline-offset-4 decoration-blue-300 inline-block"
            href={`https://github.com/Kynson/${name}`}
          >
            {name}
          </a>
          <p class="mb-5">{description}</p>
          <div class="flex flex-wrap gap-2">
            {topics?.map((topic) => {
              return <span class="text-blue-300/80">#{topic}</span>;
            })}
          </div>
        </div>
      );
    })
  }
</div>
{
  projects.length > DEFAULT_RENDER_COUNT && (
    <Button
      id="show-all-projects-button"
      class="!block mx-auto w-fit bg-transparent !text-blue-50 transition-[background-color] hover:bg-blue-300/25 focus-within:bg-blue-300/25"
    >
      <span class="inline-flex justify-between w-ful">
        <span>Show All</span>
        <DownArrow class="size-4 ml-1 my-auto" />
      </span>
    </Button>
  )
}
{projects.length === 0 && <DynamicContentError content-name="projects" />}
